.square {
  display: block;
  width: 100px;
  height: 100px;
  text-align: center;
}
.dark {
  background-color: rgb(36, 0, 121);
}
.light {
  background-color: rgb(149, 147, 238);
}

.highlighted {
  background-color: rgb(19, 90, 19);
}
