.square {
  position: relative;
  width: 100px;
  height: 100px;
}
.dark {
  background-color: rgb(36, 0, 121);
}
.light {
  background-color: rgb(149, 147, 238);
}

.highlighted {
  background-color: red;
}
